<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjl.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.hjl.pojo.UserInfo">
        <result column="userId" jdbcType="INTEGER" property="userid" />
        <result column="userName" jdbcType="VARCHAR" property="username" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
    </resultMap>

    <!--我自己加的方法-->
    <select id="select" resultType="com.hjl.pojo.UserInfo">
    select * from userinfo
  </select>
</mapper>